<h1>$client.getName(), $client.getAge()</h1>

<h2>Preferences</h2>
<p>$client.getPreferences()  <a class="edit" href="/stylist/$client.getStylistId()/client/$client.getId()/edit">edit</a></p>

<h4><a href="/">Home</a></h4>
<h4><a href="/stylist/$client.getStylistId()/clients">Back to Stylist</a></h4>
