<!DOCTYPE html>
<html>
  <head>
    <title>Hair Salon</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/app.css" type="text/css">
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <img id="icon" class="navbar-brand img-responsive" src="images/icon.png" alt="hair salon icon">
        <div class="pull-left">
          <h3>Hairy People Salon</h3>
        </div>
        <div class="pull-right">
          <div class="form-group">
            <div class="row">
              <form action="/search" method="post">
                <div class="col-sm-4">
                  <select name="type" class="form-control">
                    <option value="Stylist">Stylist</option>
                    <option value="Client">Client</option>
                  </select>
                </div>
                <div class="col-sm-4">
                  <input type="text" name="search" placeholder="Search" class="form-control">
                </div>
                <div class="col-sm-4">
                  <button id="search-button" type="submit" class="btn btn-success">Search</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" id="main">
      #parse( $template )
    </div>
  </body>
</html>
